/* common vars */
:root {
    --font-family-raleway: 'Raleway', sans-serif;
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-background: #F2F2F2;
    --font-weight-bold: 700;
    --font-weight-light: 400;
}

/* general */

/* resetting default margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* elements */
body {
    max-width: 1400px;
    font-family: var(--font-family-raleway);
    font-weight: var(--font-weight-light);
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: var(--font-weight-bold);
}
h1, h2 {
    font-size: 22px;
}
h3 {

    font-size: 16px;
}

/* class */

/* utility */
.bold {
    font-weight: var(--font-weight-bold);
}
.link-block {
    text-decoration: none;
    color: unset;
}

/* sections */

/* header */

.header {
    display: flex;
    justify-content: space-between;
}
.header>#logo {
    margin: 44px;
    margin-left: 55px;
    width: 61px;
    height: 19px;
}
.nav-links {
    display: flex;
    list-style-type: none;
}
.main-links {
    padding: 46px;
    border-top: transparent 2px solid;
}
.main-links:last-child {
    margin-right: 21px;
}
.main-links>a {
    text-decoration: none;
    color: black;
}
.main-links:hover {
    border-top-color: var(--color-primary);
}
.main-links:hover>a {
    color: var(--color-primary);
}

/* search form */
.search-section {
    margin: 16px 55px 32px 55px;
}
.search-section>h1 {
    margin-bottom: 8px;
}
/* searchbar */ 
.searchbar {
    border: none;
    margin-bottom: 2em;
    margin-top: 1.25em;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    border: 1px var(--color-background) solid;
}
.searchbar>legend {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
}
.searchbar>* {
    padding: 14px 16px;
    font-size: 18px;
}
.searchbar>i {
    background-color: var(--color-background);
    border-radius: 15px 0 0 15px;
}
.searchbar>input {
    appearance: none;
    border: unset;
    font-weight: var(--font-weight-bold);
}
.submit{
    background-color: var(--color-primary);
    border-radius: 0 15px 15px 0;
    color: white;
    cursor: pointer;
}
label.submit {
    display: none;
}

/* filterbar */

.filter-bar {
    margin-bottom: 2.25em;
    border: unset;
    display: flex;
    font-weight: var(--font-weight-bold);
    font-size: 1.125em;
    align-items: center;
    gap: 2em;
}
.filter-bar>div {
    display:flex;
    justify-content: space-between;
    gap: 2.5em;
}
.filter-bar>legend {
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.filter>i {
    color: var(--color-primary);
}
.filter-bar>div>input:checked+label, .filter:hover {
    background-color: var(--color-secondary);
}
.filter-bar>div>input {
    position: absolute;
    appearance: none;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.filter {
    flex-grow: 1;
    height: 50px;
    border: 2px solid #D9D9D9;
    border-radius: 2em;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    width: auto;
}
.filter:hover {
    cursor: pointer;
}

/* infobar */

.infobar {
    display: flex;
    gap: 11px;
    align-items: center;
}

i.fa-info {
    border: 1px solid #D9D9D9;
    padding: 3px;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: var(--color-primary);
}

/* cards */

/* accommodation card */
.accommodation-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 100%;
}
.accommodation-card>img {
    height: 124px;
    width: 100%;
    object-fit: cover;
    border: white 5px solid;
    border-radius: 20px 20px 0 0;
}
.accommodation-card>div {
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 9px;
    background-color:white;
    border-radius: 0 0 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.accommodation-card>div>p {
    padding-top: 9px;
    padding-bottom: 9px;
}
.rating>.fa-star {
    color: var(--color-primary);
}
.rating>.fa-star:last-child {
    color: var(--color-background);
}

/* card sponsored */
.popular-card {
    width: 100%;
    height: 150px;
    display: flex;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius:20px;
}
.popular-card>img {
    width: 40%;
    height: auto;
    border: white 5px solid;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    flex: 0 0 auto
}
.popular-card>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 22px 12px 15px;
    background-color: white;
    border-radius: 0 20px 20px 0;
    flex-grow: 1;
}
.popular-card>div>div>h3 {
    margin-bottom: 7px;
}

/* activity */
.activity-card {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    position: relative;
    z-index: 0;
    aspect-ratio: 2 / 3;
}
.activity-card>img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    top: 0;
    position: absolute;
    z-index: 1;
}
.activity-card>h3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    border-radius: 0 0 18px 18px;
    padding-left: 16px;
    background-color: white;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* accommodation container and section */
.accommodation-container {
    display: flex;
    padding-left: 3.125em;
    padding-right: 3.125em;
    gap: 2.5em;
}
.accommodation-section {
    flex-grow: 1;
    padding: 42px 40px 46px 40px;
    background-color: var(--color-background);
    border-radius: 20px;
    width: 66%;
}
.accommodation-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    margin-top: 1.25em;
    margin-bottom: 1.75em;
}
.accommodation-flex>a {
    width: 29%;
    flex: 1 1 auto;
}
.accommodation-section>p {
    font-size: 18px;
}

/* aside - popular section */
.popular-section {
    flex-grow: 0;
    padding: 2em;
    background-color: var(--color-background);
    border-radius: 20px;
    width:33%;
}
.popular-section>div {
    display: flex;
    flex-direction: column;
}
.fa-chart-line {
    color: var(--color-primary);
    float: right;
}
.popular-section>div {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 2em;
}

/* activity section */
.activity-section {
    margin-top: 3.75em;
    padding-left: 50px;
    padding-right: 50px;
}
.activity-section>h2 {
    margin-bottom: 1.25em;
}
.activity-container {
    display:flex;
    gap: 43px;
}
.activity-container>a {
    width: 100%;
}


/* footer */
.site-footer {
    background-color: var(--color-background);
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 4em;
    padding: 45px 0 58px 74px;
    display: flex;
}
.footer-section {
    flex: 1 1 auto;
}
.footer-section>h2 {
    font-size: 17px;
    margin-bottom: 1.25em;
}
.footer-links {
    list-style-type: none;
    display: flex;
    gap: 0.75em;
    flex-direction: column;
}
.footer-links>li>a {
    text-decoration: none;
    color: black;
}

/* tablet */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .accommodation-container {
        flex-direction: column;
    }
    .accommodation-section {
        width: 100%;
    }
    .popular-section {
        width: 100%;
    }
    .popular-section>div {
        flex-direction: row;
        font-size: 13px;
    }
    .popular-section>div>a {
            flex-grow: 1;
            flex-basis: 0;
    }
    .popular-card>div {
        padding: 12px 24px 12px 10px;
    }
    .accommodation-card {
        border-radius:20px;
    }
    .accommodation-card>div {
        border-radius: 0 0 20px 20px;
    }
    .filter-bar {
        gap: 17px;
    }
    .filter-bar>div {
        gap: 22px;
    }
}

/* mobile */
@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header>#logo {
        margin-top: 21px;
        margin-bottom: 25px;
        margin-left: 0;
        margin-right: 0;
    }
    .header>nav {
        width: 100%;
    }
    .nav-links>.main-links:first-child>a {
        color: var(--color-primary);
    }
    .main-links {
        padding: 23px 33px 23px 33px;
        border-bottom: var(--color-background) 3px solid;
        width: 50%;
        text-align: center;
        border-top: unset;
    }
    .main-links:first-child {
        border-bottom: var(--color-primary) 3px solid;
    }
    .main-links:last-child {
        margin-right: 0;
    }
    .main-links:hover>a {
        color: unset;
    }

    /* search section */ 
    .search-section {
        margin: 31px 20px 32px 20px;
    }
    .search-section>h1 {
        margin-bottom: 13px;
    }
    .searchbar {
        margin-top: 34px;
        margin-bottom: 36px;
        width: 100%;
    }
    .searchbar>input#ville {  
        width: 0;
        flex-grow: 1;
    }
    label.submit {
        display:block;
    }
    input.submit {
        visibility: hidden;
        position: absolute;
    }

    /* filter-bar */

    .filter-bar {
        flex-direction: column;
        align-items: flex-start;
        gap: 17px;
    }
    .filter-bar>div {
        gap: 14px;
        width: 100%;
    }
    .filter {
        width: 160px;
        padding: 16px 0 14px 13px;
        font-size: 11px;
    }
    .filter>i {
        font-size: 20px;
    }

    /* infobar */

    .infobar {
        align-items: flex-start;
    }

    /* hébergement */
    .accommodation-container {
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .accommodation-section {
        order: 2;
        width: 100%;
        border-radius: unset;
        background-color: unset;
        padding: 26px 20px 20px 20px;
    }
    .popular-section {
        order: 1;
        width: 100%;
        border-radius: unset;
        padding: 28px 20px 47px 20px;
    }
    .popular-section>div {
        gap: 11px;
    }
    .accommodation-flex {
        flex-direction: column;
        gap: 12px;
        margin-bottom: 12px;
    }
    .accommodation-flex ~ .accommodation-flex {
        margin-top: 0;
    }
    .accommodation-section>p {
        display: none;
    }
    .accommodation-flex>a {
        width: 100%;
    }
    .activity-section {
        padding-left: 20px;
        padding-right: 20px
    }
    .activity-container {
        flex-direction: column;
        gap: 24px;
    }
    .activity-card {
        width: 100%;
        aspect-ratio: 7/4;
    }
    .activity-card>img {
        width: 100%;
    }
    /* footer */

    .site-footer {
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 3.75em;
        padding-left: 2em;
        padding: 35px 0 61px 29px; 
        flex-direction: column;
        gap: 40px;
    }
}